<div class="container">
    <div class="card">
        <div class="card-body car-card">
            <div class="car-image rounded d-flex justify-content-center">
                <img src={{img}} class="img-fluid" alt="">
            </div>
            <div class="car-model fw-bold p-2 ">{{model}}</div>
 
            <div class="overview p-2 my-2 d-flex flex-row flex-wrap justify-content-between" >
                <div class="col-l-3 col-sxm-6 transmission d-flex justify-content-start">
                    <span><i class='bx bx-body'></i></span><span>{{transmission}}</span>
                </div>
                <div class="col-l-3 col-sxm-6  milage d-flex justify-content-xl-center">
                    <span><i class='bx bx-wind'></i></span><span>Climatisation</span>
                </div>
                <div class="col-l-3 col-sxm-6 pl-2 fuel d-flex justify-content-xl-end">
                    <span><i class='bx bxs-user-detail'></i></span><span>{{nb_persons}}</span>
                </div>
                <div class="col-l-3 col-sxm-6  fuel d-flex justify-content-xl-end">
                    <span><i class='bx bxs-briefcase-alt'></i></span><span>{{nb_valise}}</span>
                </div>
            </div>

            <div class="btn bg-primary w-100 mt-3 text-light" (click)="navigate()">Réserver maintenant</div>
        </div>
    </div>
</div>