<section>
    <div class="fluid-container position-relative px-5 pt-5 pb-2">
        <div class="links">
            <div class="">
                <h4>About Company</h4>
                <ul>
                    <li><a
                        href="https://www.google.com/maps/dir//Zanzicar+location+de+voitures/data=!4m8!4m7!1m0!1m5!1m1!1s0xda63301f2d37f49:0x418c5423f111f170!2m2!1d-7.604244899999999!2d33.5577393"
                        target="_blank"><i class="fas fa-map-marker-alt text-white mr-3"></i></a>binelamdoune, rue 22, numéro
                    41, Casablanca, Maroc</li>
                    <li>Shop Toyota</li>
                    <li>Dreamsrentals USA</li>
                    <li>Dreamsrentals Worldwide</li>
                    <li>Dreamsrentals Racing</li>
                </ul>
            </div>
            <div class="">
                <h4>Vehicles Type</h4>
                <ul>
                    <li class="row mx-n1">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.8318948837655!2d-7.606433585384897!3d33.557743751075115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda63301f2d37f49%3A0x418c5423f111f170!2sZanzicar!5e0!3m2!1sfr!2sfr!4v1675439993892!5m2!1sfr!2sfr"
                            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </li>
                </ul>
            </div>
            <div class="contact text-light">
                <h4>Contact Info</h4>
                <div class="phone row mt-4 ms-1">
                    <i class='col-auto bx bxs-phone-call'></i>
                    <span class="col-auto  mt-2">+212 664372711</span>
                </div>
                <div class="email row mt-2 ms-1">
                    <i class='col-auto bx bxs-envelope'></i>
                    <span class="col mt-2">
                        zanzicar@hotmail.com</span>
                </div>
                <!-- <div class="subscribe mt-4 input-group">
                    <input type="text" class="form-control" placeholder="Subscribe"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn bg-primary" type="button" id="button-addon1"><i
                            class='bx bxs-send text-light'></i></button>
                </div> -->
            </div>
        </div>
        <div class="footer-bottom text-center text-light mt-3">
            <p>© 2023 ZanziCar, All Rights Reserved.</p>
        </div>
    </div>
</section>