<section>
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-lg-6">
                <div data-aos="fade-down"
                    class="top-text wrapper d-flex flex-column gap-2 align-items-start justify-content-center">
                    <div class="trust m-0 bg-lighter px-sm-1 px-md-3 py-2 rounded-pill row">
                        <i class='col-1 bx bxs-like fs-3 text-primary'></i>
                        <p class='col-11 mb-0'>100%
                            de nos clients sont satisfaits</p>
                    </div>
                    <p class="title text-secondary mt-4">Bienvenue chez</p>
                    <p class="title text-primary  m-0">ZanziCar</p>
                    <p class="mt-3">Explorez l'excellence avec ZanziCar, votre partenaire de confiance pour des locations de voitures sans tracas depuis 2016. Profitez d'une flotte de véhicules haut de gamme adaptés à tous vos besoins de déplacement.</p>
                    <div class="view-car rounded row p-2 bg-lighter" >
                        <div class="col-auto" routerLink="/car-listing">Découvrir nos voitures</div><i
                            class='col-auto bx bx-right-arrow-alt fs-5 p-0 text-center'></i>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="col-lg-6 d-sm-none d-lg-block s hero-car-wrapper">
                <img class="w-100" src="./../../../assets/images/car-right.png" alt="">
            </div>
        </div>
    </div>
</section>