<section class="fluid-container bg-lighter mx-sm-5 mx-md-5 shadow">
    <div class="form form-wrapper p-4">
        <div class="location-wrapper mt-sm-4  mb-md-0">
            <label class="form-label fw-bold mt-sm-4 mt-md-0">Pickup Location</label>
            <div class="input-group">

                <input type="text" class="form-control" placeholder="Enter city, Airport or Address"
                    aria-label="Username">
                <span class="input-group-text"><i class='bx bxs-map'></i></span>
            </div>
        </div>
        <div class="date-wrapper mt-4">
            <label class="form-label fw-bold">Pickup Date</label>
            <div class="d-flex flex-md-row flex-sm-column gap-3 ">
                <div class="input-group">
                    <input type="date" class="form-control" placeholder="4/11/2023" aria-label="Username">
                </div>
                <div class="input-group">
                    <input type="time" class="form-control" placeholder="4/11/2023" aria-label="Username">
                </div>
            </div>
        </div>
        <div class="date-wrapper mt-sm-4  mb-md-0">
            <label class="form-label fw-bold">Return Date</label>
            <div class="d-flex flex-md-row flex-sm-column gap-3">
                <div class="input-group">
                    <input type="date" class="form-control" placeholder="4/11/2023" aria-label="Username">
                </div>
                <div class="input-group">
                    <input type="time" class="form-control" placeholder="4/11/2023" aria-label="Username">
                </div>
            </div>
        </div>
        <div class="btn-wrapper d-flex align-items-end mb-sm-5 mb-md-0">
            <div  routerLink="/car-listing" class="btn btn-primary text-light w-100"><i class='bx bx-search'></i>Search
            </div>
        </div>
    </div>
</section>