<div class="banner d-flex align-items-center justify-content-center flex-column">
  <h3 class="text-light">{{car.model_name}}</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="home">Home</a></li>
      <li class="breadcrumb-item"><a href="listing">Listing</a></li>
      <li class="breadcrumb-item active text-light" aria-current="page">Rent Now</li>
    </ol>
  </nav>
</div>

<div class="container p-0 mt-4">
  <div class="row">
    <div class="col-lg-6 d-flex flex-column gap-3">
      <div class="card">
        <div class="card-body">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./../../../assets/images/slider-01.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/slider-02.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/slider-03.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

    </div>
<!--rihght part-->

    <div class="col-lg-6 d-flex flex-column gap-3">

      <div class="card">
        <div class="card-body position-relative">
          <h5 class="card-heading position-relative pb-2">Specifications</h5>
          <div class="d-flex flex-column gap-4 m-4">
            <div class="spec d-flex flex-row align-items-center justify-content-between">
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-car fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Body</p>
                  <p class="text-grey m-0">Sedan</p>
                </div>
              </div>
  
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-cog fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Transmission</p>
                  <p class="text-grey m-0">Automatic</p>
                </div>
              </div>
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-calendar fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Year</p>
                  <p class="text-grey m-0">2013</p>
                </div>
              </div>
            </div>
            <div class="spec d-flex flex-row align-items-center justify-content-between">
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-car fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Fuel Type</p>
                  <p class="text-grey m-0">Petrol</p>
                </div>
              </div>
  
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-cog fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Brake</p>
                  <p class="text-grey m-0">ABS</p>
                </div>
              </div>
              <div class="item d-flex flex-row gap-3">
                <div class="img rounded border d-flex p-2 justify-content-center">
                  <i class='bx bxs-calendar fs-1'></i>
                </div>
                <div class="d-flex  justify-content-center flex-column">
                  <p class="type fw-bold m-0">Engine (Hp)</p>
                  <p class="text-grey m-0">3000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body position-relative">
          <h5 class="card-heading position-relative pb-2">Description of Listing</h5>
description car if needed.
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </div>
      </div>


    </div>
  </div>
</div>