<section data-aos="fade-down">
    <div class="title-wrapper">
        <h2 class="title fw-bolder text-center text-light">Facts By The Numbers</h2>

        <div class="d-flex flext-column align-items-center justify-content-center mt-3"><img
                src="./../../../assets/images/title-head.png" alt=""></div>
        <div class="description text-center">
            <p class="mb-0 text-light">Lorem Ipsum has been the industry's standard dummy text </p>
            <p class="text-light">ever
                since
                the 1500s,</p>
        </div>
    </div>
    <div class="stats row mx-2">
        <div class="col-sm-12 col-md-6 col-lg-3 p-2" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1350">
            <div class="tile card shadow d-flex flex-column justify-content-start p-3">
                <div class="d-flex align-items-center">
                    <i class='ms-2 bx bx-heart bg-secondary text-light rounded'></i>
                    <div class="title row ps-3 my-3">
                        <span class="fs-4 fw-bolder col-12">10K+</span>
                        <span class="col-12 text-grey">Happy Customer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-2" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1350">
            <div class="tile card shadow d-flex flex-column justify-content-start p-3">
                <div class="d-flex align-items-center">
                    <i class='ms-2 bx bxs-car bg-secondary text-light rounded'></i>
                    <div class="title row ps-3 my-3">
                        <span class="fs-4 fw-bolder col-12">450</span>
                        <span class="col-12 text-grey">Count of Cars</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-2" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1350">
            <div class="tile card shadow d-flex flex-column justify-content-start p-3">
                <div class="d-flex align-items-center">
                    <i class='ms-2 bx bx-headphone bg-secondary text-light rounded'></i>
                    <div class="title row ps-3 my-3">
                        <span class="fs-4 fw-bolder col-12">1K+</span>
                        <span class="col-12 text-grey">Car center Solutions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-2" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1350">
            <div class="tile card shadow d-flex flex-column justify-content-start p-3">
                <div class="d-flex align-items-center">
                    <i class='ms-2 bx bx-tachometer bg-secondary text-light rounded'></i>
                    <div class="title row ps-3 my-3">
                        <span class="fs-4 fw-bolder col-12">55K+</span>
                        <span class="col-12 text-grey">Total Kilometer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>