<section class="bg-white">
    <div class="container d-flex flex-column align-items-center justify-content-center gap-5">
        <div class=" title-wrapper">
            <h2 class="title fw-bolder text-center">How It Works</h2>

            <div class="d-flex flext-column align-items-center justify-content-center mt-3"><img
                    src="./../../../assets/images/title-head.png" alt=""></div>
            <div class="description text-center">
                <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text </p>
                <p>ever
                    since
                    the 1500s,</p>
            </div>
        </div>
        <div class="services d-flex flex-md-row flex-sm-column gap-5 mt-4 justify-content-center align-items-center">
            <div class="service-item" data-aos="zoom-out-down" data-aos-offset="50" data-aos-delay="50"
                data-aos-duration="2000">
                <div
                    class="service-icon m-auto bg-teal rounded-circle d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/services-icon-01.svg" alt="">
                </div>
                <h3 class="service-title text-center">1. Choose Locations</h3>
                <div class=" service-description  text-center">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
            </div>
            <div class="service-item" data-aos="zoom-out-down" data-aos-offset="50" data-aos-delay="50"
                data-aos-duration="2000">
                <div
                    class="service-icon m-auto bg-primary rounded-circle d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/services-icon-01.svg" alt="">
                </div>
                <h3 class="service-title  text-center">2. Pick-Up Locations</h3>
                <div class="service-description text-center">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
            </div>
            <div class="service-item" data-aos="zoom-out-down" data-aos-offset="50" data-aos-delay="50"
                data-aos-duration="2000">
                <div
                    class="service-icon m-auto bg-secondary rounded-circle d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/services-icon-01.svg" alt="">
                </div>
                <h3 class="service-title text-center">3. Book your Car</h3>
                <div class="service-description text-center">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
            </div>
        </div>
    </div>
</section>