@import "../../../variables.scss";

section {
  margin-top: 5rem;
  .wrapper {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2rem;

    @media (min-width: $small-screen-width) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: $medium-screen-width) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $large-screen-width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
