<section data-aos="fade-down">

    <div class=" title-wrapper">
        <h2 class="title fw-bolder text-center">Découvrir Nos Voitures Les Plus Demandées</h2>

        <div class="d-flex flext-column align-items-center justify-content-center mt-3"><img
                src="./../../../assets/images/title-head.png" alt=""></div>
        <div class="description text-center">
            <p class="mb-0">Découvrez nos voitures les plus prisées, soigneusement sélectionnées pour allier style, confort et performances uniques, </p>
            <p>chez ZanziCar.</p>
        </div>
    </div>
    <div class="wrapper mx-5">

        <div class="row" *ngFor="let car of allCars">
            <app-car-overview [model]="car.model"
                [transmission]="car.transmission" 
                [nb_persons]="car.nb_persons"
                [nb_valise]="car.nb_valise"
                [climatisation]="car.climatisation"
                ></app-car-overview>
        </div>
    </div>
</section>